{% extends '::basemenu.html.twig' %}
{% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block header -%}
    Editar Comunidad
    <small>
        <i class="ace-icon fa fa-angle-double-right"></i>
        Editar información de la comunidad
    </small>
{% endblock %} 
{% block content -%} 

    {{ form(edit_form) }}

    <ul class="record_actions">
    <li>
        <a href="{{ path('adcomunidades') }}">
            Regresar al listado
        </a>
    </li>
</ul>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $('#focal_appbundle_adcomunidades_nombre').removeAttr('readonly');
    </script>
{% endblock %}

