{% extends '::basemenu.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block header -%}
    Datos Demográficos
    <small>
        <i class="ace-icon fa fa-angle-double-right"></i>
        Ingresar la información demográfica de la familia
    </small>
{% endblock %} 
{% block content -%} 
<h2>No.Boleta</h2>
    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('datosdfamilia') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
